# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Family.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\karl1\RiderProjects\Family\.idea\.idea.Family\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
